# 파이썬 기초

## 파이썬 기본 변수
* 정수(int), 부동소수(float), 문자(strings), 불리언(True/False)

## 파이썬 자료형
*  리스트(list), 튜풀(tuple), 사전(dictionary), 

## 파이썬 구문
* for문, if문

![img1](./img/img1.PNG)

# 수치형 정의

In [20]:
a=3

In [22]:
a=1.2

In [24]:
a=0o34

In [30]:
a = 0x2a

In [ ]:
print(a)

In [31]:
print('{:#x}'.format(a))

0x2a

# 사칙연산

In [3]:
a=3
b=4

In [4]:
a+b

7

In [12]:
a/b

0.75

In [14]:
a//b

0

In [6]:
a-b

-1

In [7]:
a*b

12

In [8]:
a**b

81

In [10]:
a % b

3

# 문자열

* 문자열(String)이란 문자, 단어 등으로 구성된 문자들의 집합을 의미한다. 
* 예를 들어 다음과 같은 것들이 문자열이다.

In [33]:
"Life is too short, You need Python"
'a'
"""123"""
'''Hello World'''

'Hello World'

In [34]:
"Python's favorite food is perl"

"Python's favorite food is perl"

In [35]:
'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-35-d88a6661e350>, line 1)

In [36]:
'Python is very easy." he says.'

'Python is very easy." he says.'

In [38]:
'Python is very easy.\'he says.'

"Python is very easy.'he says."

In [40]:
"Life is too short
You need python"

SyntaxError: EOL while scanning string literal (<ipython-input-40-39ee7ca5ce33>, line 1)

In [48]:
"Life is too short \n You need python"
"""Life is too short 
You need python"""

'Life is too short \nYou need python'

In [49]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [51]:
a = "python! "
a * 2

'python! python! '

In [52]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [54]:
a = "Life is too short"
len(a)
type(a)

str

In [68]:
a = "Life is too short, You need Python"
a[1]
a[0:4]
a[-6:]

'Python'

In [73]:
a = "20210908Rainy"
date=a[:8]
weather=a[8:]
print(date+"\n", weather)

20210908
 Rainy

In [4]:
type(x), type(y)

(int, float)

## 문자열 조작, split과 join
* 문자열을 공백, "/", "," 등을 기준으로 나누거나 합친다
* 나누어진 항목은 리스트(list)에 저장된다 (리스트는 여러 데이터를 묶은 것)

In [101]:
a = "Life is too short"
print(a)
a.split()

Life is too short

['Life', 'is', 'too', 'short']

In [105]:
b = '12/31/2030'
c = y.split('/')
c

['12', '31', '2030']

In [106]:
c[0]

'12'

In [107]:
",".join(c)

'12,31,2030'

In [110]:
print(a.replace("short", "long"))

Life is too long

## 문자열에 포맷( format) 사용하기
- "%" 사용
- format() 사용
- f"..." 사용

In [111]:
"변수가 %d 개 들어 있는 문자열 출력하기" %10

'변수가 10 개 들어 있는 문자열 출력하기'

In [112]:
x = 5
print("변수가 %d 개 들어 있는 문자열 출력하기" %x)

변수가 5 개 들어 있는 문자열 출력하기

In [114]:
x = 5 
y = 97.5
print("변수가 %d 개 들어 있는 문자열 %0.2f 점 주기" %(x,y))

변수가 5 개 들어 있는 문자열 97.50 점 주기

In [115]:
print("변수가 {0} 개 들어 있는 문자열 {1}점 주기".format(x,y))

변수가 5 개 들어 있는 문자열 97.5점 주기

In [116]:
print("변수가 {n2} 개 들어 있는 문자열 {n1}점 주기".format(n2=x,n1=y))

변수가 5 개 들어 있는 문자열 97.5점 주기

In [117]:
print(f"변수가 {x} 개 들어 있는 문자열 {y}점 주기")

변수가 5 개 들어 있는 문자열 97.5점 주기

## 소숫점 포매팅
- ":"를 사용

In [118]:
phi = 3.141592
f"{phi}"

'3.141592'

In [119]:
print(f"{phi}")
print(f"{phi:0.4f}")
print(f"{phi:0.2f}")

3.141592
3.1416
3.14

# 불리언
* 참과 거짓을 True, False로 표현
* 대소문자를 구분함

In [121]:
a = True
b = False
a & b

False

In [122]:
a | b

True

* ">", "<", "==" 등 조건문을 사용하여 불리언 값을 얻을 수 있다

In [124]:
x = 3
x < 1

False

In [125]:
x > 1

True

In [126]:
x == 3

True

## 불리언의 연산
* 불리언 변수가 연산에 사용되면 True는 1로, False는 0으로 취급된다

In [128]:
print(a)
print(b)
print(a+b+3)

True
False
4

In [129]:
a*1

1

In [130]:
b*1

0

In [131]:
a = bool(0)
a

False

In [78]:
i=0
while(a):
    if(i==100):
        a=False
    i+=1
    print(++i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

# 리스트
- 여러 항목의 집합체로 각 항목의 타입은 서로 달라도 된다.
- 리스트를 만들려면 대괄호 [ ]를 사용하고 각 항목을 ','로 구분한다

In [158]:
x = list([1,2,3])
y = [4,5,6]

In [159]:
x+y

[1, 2, 3, 4, 5, 6]

In [160]:
x = [1, 2, 3, 4, 5, 'kim']
x*2

[1, 2, 3, 4, 5, 'kim', 1, 2, 3, 4, 5, 'kim']

In [161]:
# 리스트의 길이
len(x)

6

## 인덱싱
* 리스트에서 특정 위치의 항목 값을 얻는다
* 위치 번호는 '1'이 아니라 '0'부터 시작한다

In [162]:
# 리스트에서 위치 번호는 '1'이 아니라 '0'부터 시작한다.
x[0]

1

In [163]:
# 3번째 항목을 값을 바꾸었다.
x[2]=100
x

[1, 2, 100, 4, 5, 'kim']

In [138]:
x[:2]

[1, 2]

In [164]:
# 뒤에서부터 인덱싱할 때는 '-' 를 사용한다.
x[-1]

'kim'

In [165]:
x[-2]

5

## 슬라이싱
- 어떤 범위의 항목을 얻는다

In [166]:
# 리스트의 일부 구간만 얻으려면 슬라이스(slice) ':'를 사용한다
x[2:]

[100, 4, 5, 'kim']

In [167]:
x[2:4]

[100, 4]

In [168]:
x[2:]

[100, 4, 5, 'kim']

## 특정 값이 있는 항목의 위치(index) 얻기
- index() 사용

In [169]:
x

[1, 2, 100, 4, 5, 'kim']

In [170]:
x.index(100)

2

## 항목 추가 및 삭제: append(), del()

In [171]:
x.append('park'); x

[1, 2, 100, 4, 5, 'kim', 'park']

In [172]:
# 특정 위치의 항목을 제거 (복구가 안되므로 주의)
del x[2]
x

[1, 2, 4, 5, 'kim', 'park']

In [174]:
# 특정 항목의 갯수를 센다 (count)
x.count('park')

1

In [175]:
x.append('park')
x.count('park')

2

In [176]:
x

[1, 2, 4, 5, 'kim', 'park', 'park']

## 리스트 정렬, sorted
- 숫자 또는 알파벳순으로 정렬한다

In [177]:
x = ["park", "kim", "lee"]
sorted(x)

['kim', 'lee', 'park']

In [178]:
x = [5,3,6,7,8,2,4,1]
sorted(x)

[1, 2, 3, 4, 5, 6, 7, 8]

In [179]:
sorted(x,reverse=True)

[8, 7, 6, 5, 4, 3, 2, 1]

In [180]:
x

[5, 3, 6, 7, 8, 2, 4, 1]

In [181]:
# 순서 뒤집기
x.reverse()
x

[1, 4, 2, 8, 7, 6, 3, 5]

In [182]:
x = [{"name":"park", "age":30}, {"name":"lee", "age":40}, {"name":"kim","age":20}]
x

[{'name': 'park', 'age': 30},
 {'name': 'lee', 'age': 40},
 {'name': 'kim', 'age': 20}]

In [184]:
sorted(x, key=lambda x: x['name'])

[{'name': 'kim', 'age': 20},
 {'name': 'lee', 'age': 40},
 {'name': 'park', 'age': 30}]

## 리스트 복제
- 리스트 전체를 반복 복제 하려면 "*"를 사용한다

In [185]:
x = [1,2,3,"kim"]
x*3

[1, 2, 3, 'kim', 1, 2, 3, 'kim', 1, 2, 3, 'kim']

In [186]:
x = [1]
x*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

# 튜플 (tuple)
* 튜플도 리스트처럼 여러 항목을 담을 수 있는 변수
* 리스트와 달리 튜플의 내용은 '상수'로 취급되어 값을 바꿀 수 없다
* 읽기 전용 리스트인 셈이며, 처리 속도가 빠르다
* 튜플을 만들려면 소괄호( )를 사용하여 만들거나 ( )  없이 "," 로 구분하여 나열한다

In [191]:
my_tuple = (1, 2, 3)
your_tuple = 4, 5,"hello"
sumtuple=my_tuple + your_tuple
sumtuple

(1, 2, 3, 4, 5, 'hello')

In [192]:
my_tuple[0]=2
my_tuple

TypeError: 'tuple' object does not support item assignment

In [193]:
my_tuple*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [194]:
len(my_tuple)

3

In [195]:
a, b, c = 3, 4, 5
print(a)
print(b)
print(a+b+c)

3
4
12

In [196]:
(a, b, c) = (3, 4, 5)
print(a+b+c)

12

In [198]:
sumtuple[0]

1

In [197]:
sumtuple[1:]

(2, 3, 4, 5, 'hello')

# 사전 (Dictionaries)
* 키-값 조합 형태의 데이터 묶음
* 간단한 데이터베이스처럼 사용된다
* 항목을 찾을 때 키를 사용한다
* 딕셔너리에서 저장된 순서는 의미가 없다
* 딕셔너리는 중괄호 {  } 로 만들거나 dict()로 만든다

In [199]:
student = {'grade': 3,'age': 21,'name': "kim"  }
student['grade']

3

In [200]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['grade', 'age', 'name'])
dict_values([3, 21, 'kim'])
dict_items([('grade', 3), ('age', 21), ('name', 'kim')])

In [201]:
# 내용 변경
student['age'] = 28
student

{'grade': 3, 'age': 28, 'name': 'kim'}

In [202]:
# 키:값 항목 추가 (없는 키를 사용하면 항목을 새로만든다)
student['address'] = 'Seoul'
student

{'grade': 3, 'age': 28, 'name': 'kim', 'address': 'Seoul'}

In [203]:
d = dict()
d

{}

In [204]:
d["key1"] = 10
d

{'key1': 10}

# 집합
* 집합(set)은 파이썬 2.3부터 지원하기 시작한 자료형으로, 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
* 집합 자료형은 다음과 같이 set 키워드를 사용해 만들 수 있음
* 집합은 중복을 허용하지 않고 순서가 없는 것이 특징임

In [206]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [208]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [210]:
l1 = list(s1)
l1

[1, 2, 3]

In [211]:
l1[0]

1

## 교집합, 합집합, 차집합

In [215]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [216]:
s1 & s2

{4, 5, 6}

In [217]:
s1.intersection(s2)

{4, 5, 6}

In [218]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [219]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [220]:
s1 - s2

{1, 2, 3}

In [221]:
s2 - s1

{7, 8, 9}

In [222]:
s1.difference(s2)

{1, 2, 3}

In [223]:
s2.difference(s1)

{7, 8, 9}

In [225]:
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

In [227]:
s1.update([8,9,10])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [228]:
s1.remove(2)
s1

{1, 3, 4, 5, 6, 7, 8, 9, 10}

# Test
## 1. 아래와 같이 주민등록번호가 주어졌다. 주민등록번호의 연월일과 성별을 나타내는 숫자를 나누어서 출력해보자.

In [ ]:
pin = "881120-1068234"

## 2. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [ ]:
list1 = [1,3,5,4,2]